.outer-container {
    margin: auto;
    width: 50%;
}

.body {
    min-width: 360px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.calc-display {
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    background-color: palegoldenrod;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button {
    flex: 1;
}